.ag-theme-alpine {
    width: 100%;
}
.donation-cell {

}
.donation-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#create-donation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.campaignModal .MuiBox-root {
    overflow: scroll;
    max-height: 80vh;
}
